body {
    font-family: Arial, sans-serif;
    padding: 0%;
    margin: 0%;
}

.heading {
    display: flex;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url(../images/background/header.png) no-repeat center top / cover;
    height: 600px;
    background-color: black;
}

.container {
    width: 950px;
    margin: 0 auto;

}

/* Countdown */
.countdown-container {
    padding-top: 2rem;
    color: #ffffff;
    text-align: center;
}

.countdown-container li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0.3em;
    text-transform: uppercase;
}

.countdown-container li span {
    font-size: 2.5rem;
    font-weight: bold;
}

.countdown-container #seconds2,
.countdown-container #seconds {
    color: red;
}

.countdown-container h2 {
    margin: 0;
}

.logo {
    margin: 0px auto;
    width: 155px;
    margin-top: 30px;


}

.titles__first {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
}

h1 {
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 120px;

}

h3 {
    font-size: 12px;
    color: #51d45c;
    text-transform: uppercase;
    text-align: center;
    margin: 70px;

}

.button {
    background: #51d45c;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 10px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 30px;
}

.services {
    background-color: black;
    margin-top: 0px;
    height: 450px;
}

.services__items {
    width: 100%;
    float: left;
    text-align: center;
    background-color: black;

}

.services__items h4 {
    color: white;
    font-size: 25px;
    margin-bottom: 100px;


}

.services__items p {
    color: green;
    margin-top: 10px;
    max-width: 70%;
    
}

.services__items p1 {
    color: white;
    margin-top: auto;
}

.services__items :last-child {
    float: none;

}

#banner {
    background: url(../images/background/banner.png) no-repeat center top / cover;
    height: 500px;
    background-color: black;
    width: 100%;
    float: left;
    text-align: left;
    margin-top: auto;

}

h5 {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 290px;

}

#banner p {
    color: white;

}

#laptop {
    background: url(../images/laptop.png) no-repeat center top / cover;
    height: 900px;
    background-color: black;
    width: 100%;
}

h3 {
    color: rgb(40, 180, 52);
    font-weight: bold;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icons img {

    margin-top: 40px;
    height: 105px;
}

.icons__item {
    margin: 0 auto;
    width: 230px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.icons__item p {
    color: white;
    font-size: 14px;
    width: 135px;


}